{% extends 'base.html' %}
{% load static %}
{% block content %}

      <!-- content -->
      <div class="mil-content">
        <div class="mil-scroll-wrapper transition-fade" id="swupMain">
          <div class="mil-container">
            <!-- banner -->
            <section class="mil-side-banner mil-center">
              <div class="mil-banner-top mil-up"></div>
              <div class="mil-banner-title">
                <div class="mil-upper mil-dark mil-up mil-mb-30">
                  Hello! My name is
                </div>
                <h1 class="mil-up mil-mb-30">Courtney<br />Davis</h1>
                <p class="mil-upper mil-dark mil-up">UI/UX Designer</p>
              </div>
              <div class="mil-up mil-oval-frame">
                <div class="mil-circle-text">
                  <svg
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 300 300"
                    enable-background="new 0 0 300 300"
                    xml:space="preserve"
                    class="mil-ct-svg mil-rotate"
                    data-value="360"
                  >
                    <defs>
                      <path
                        id="circlePath"
                        d="M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 "
                      />
                    </defs>
                    <circle cx="150" cy="100" r="75" fill="none" />
                    <g>
                      <use xlink:href="#circlePath" fill="none" />
                      <text style="letter-spacing: 6.5px">
                        <!-- circle text -->
                        <textPath xlink:href="#circlePath">
                          Scroll down - Scroll down -
                        </textPath>
                      </text>
                    </g>
                  </svg>
                  <a href="#about" class="mil-button">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-arrow-down"
                    >
                      <line x1="12" y1="5" x2="12" y2="19"></line>
                      <polyline points="19 12 12 19 5 12"></polyline>
                    </svg>
                  </a>
                </div>
              </div>
            </section>
            <!-- banner end -->

            <!-- about -->
            <section id="about" class="mil-p-0-90">
              <div class="mil-oval-frame-2 mil-mb-90">
                <img src="{% static 'img/person/avatar.jpg' %}" alt="avatar" />
              </div>
              <div class="row justify-content-center">
                <div class="col-lg-8">
                  <div class="mil-center">
                    <h2 class="mil-up mil-mb-30">
                      Hi! My name is Courtney, <br />i’m UI/UX Designer based in
                      Toronto
                    </h2>
                    <div class="mil-quote mil-up mil-mb-30">
                      <i class="fas fa-quote-left"></i>
                    </div>
                    <p class="mil-up mil-mb-30">
                      I am a passionate and dedicated UI/UX designer with a
                      strong focus on creating exceptional user experiences. I
                      thrive on transforming complex ideas into intuitive and
                      visually appealing designs. With a keen eye for detail and
                      a user-centered approach, I strive to deliver impactful
                      solutions that engage and delight users. Let's collaborate
                      to bring your digital products to life!
                    </p>
                    <img
                      src="{% static 'img/person/sign.png' %}"
                      alt="signature"
                      class="mil-up mil-sign"
                    />
                  </div>
                </div>
              </div>
            </section>
            <!-- about end -->

            <div class="mil-section-title mil-up">
              <div class="mil-divider"></div>
              <h3>Services</h3>
            </div>

            <!-- services -->
            <section class="mil-p-90-30">
              <div class="row justify-content-between align-items-center">
                <div class="col-lg-4">
                  <div class="mil-icon-box mil-center mil-mb-60">
                    <div class="mil-service-icon mil-up">
                      <img src="{% static 'img/icons/1.svg' %}" alt="icon" class="mil-mb-30" />
                    </div>
                    <h5 class="mil-up mil-mb-30">UI/UX Design</h5>
                    <p class="mil-up mil-mb-30">
                      Elevate your online presence with captivating user
                      interfaces and seamless experiences
                    </p>
                    <div class="mil-up">
                      <a href="service.html" class="mil-link mil-icon-link">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="feather feather-arrow-right"
                        >
                          <line x1="5" y1="12" x2="19" y2="12"></line>
                          <polyline points="12 5 19 12 12 19"></polyline>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="mil-icon-box mil-center mil-mb-60">
                    <div class="mil-service-icon mil-up">
                      <img src="{% static 'img/icons/2.svg' %}" alt="icon" class="mil-mb-30" />
                    </div>
                    <h5 class="mil-up mil-mb-30">Logo Design</h5>
                    <p class="mil-up mil-mb-30">
                      Establish a strong and cohesive brand identity that
                      resonates with your audience.
                    </p>
                    <div class="mil-up">
                      <a href="service.html" class="mil-link mil-icon-link">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="feather feather-arrow-right"
                        >
                          <line x1="5" y1="12" x2="19" y2="12"></line>
                          <polyline points="12 5 19 12 12 19"></polyline>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="mil-icon-box mil-center mil-mb-60">
                    <div class="mil-service-icon mil-up">
                      <img src="{% static 'img/icons/3.svg' %}" alt="icon" class="mil-mb-30" />
                    </div>
                    <h5 class="mil-up mil-mb-30">Branding</h5>
                    <p class="mil-up mil-mb-30">
                      All of which have a singular goal: to build environments
                      where our clients thrive.
                    </p>
                    <div class="mil-up">
                      <a href="service.html" class="mil-link mil-icon-link">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="feather feather-arrow-right"
                        >
                          <line x1="5" y1="12" x2="19" y2="12"></line>
                          <polyline points="12 5 19 12 12 19"></polyline>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- services end -->

            <div class="mil-section-title mil-up">
              <div class="mil-divider"></div>
              <h3>Language Skills</h3>
            </div>

            <!-- language -->
            <section class="mil-lang-skills mil-p-90-60">
              <div class="row justify-content-between align-items-center">
                <div class="col-6 col-lg-3">
                  <div class="mil-lang-skills-item mil-center mil-up mil-mb-30">
                    <div class="mil-circular-progress" data-value="95%">
                      <div class="mil-counter-frame mil-upper mil-dark">
                        <span class="mil-counter" data-number="95">0</span
                        ><span>%</span>
                      </div>
                    </div>
                    <h6 class="mil-up">English</h6>
                  </div>
                </div>
                <div class="col-6 col-lg-3">
                  <div class="mil-lang-skills-item mil-center mil-up mil-mb-30">
                    <div class="mil-circular-progress" data-value="85%">
                      <div class="mil-counter-frame mil-upper mil-dark">
                        <span class="mil-counter" data-number="85">0</span
                        ><span>%</span>
                      </div>
                    </div>
                    <h6 class="mil-up">French</h6>
                  </div>
                </div>
                <div class="col-6 col-lg-3">
                  <div class="mil-lang-skills-item mil-center mil-up mil-mb-30">
                    <div class="mil-circular-progress" data-value="60%">
                      <div class="mil-counter-frame mil-upper mil-dark">
                        <span class="mil-counter" data-number="60">0</span
                        ><span>%</span>
                      </div>
                    </div>
                    <h6 class="mil-up">Spanish</h6>
                  </div>
                </div>
                <div class="col-6 col-lg-3">
                  <div class="mil-lang-skills-item mil-center mil-up mil-mb-30">
                    <div class="mil-circular-progress" data-value="40%">
                      <div class="mil-counter-frame mil-upper mil-dark">
                        <span class="mil-counter" data-number="40">0</span
                        ><span>%</span>
                      </div>
                    </div>
                    <h6 class="mil-up">German</h6>
                  </div>
                </div>
              </div>
            </section>
            <!-- language end -->

            <div class="mil-section-title mil-up">
              <div class="mil-divider"></div>
              <h3>Hard Skills</h3>
            </div>

            <!-- hard skills -->
            <section class="mil-p-90-60">
              <div class="row justify-content-between align-items-center">
                <div class="col-lg-6">
                  <div class="mil-lang-skills-item mil-mb-30">
                    <h6 class="mil-up mil-mb-30">Figma</h6>
                    <div class="mil-line-progress mil-up">
                      <div class="mil-bar" data-value="95%"></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="mil-lang-skills-item mil-mb-30">
                    <h6 class="mil-up mil-mb-30">Adobe XD</h6>
                    <div class="mil-line-progress mil-up">
                      <div class="mil-bar" data-value="90%"></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="mil-lang-skills-item mil-mb-30">
                    <h6 class="mil-up mil-mb-30">Sketch</h6>
                    <div class="mil-line-progress mil-up">
                      <div class="mil-bar" data-value="80%"></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="mil-lang-skills-item mil-mb-30">
                    <h6 class="mil-up mil-mb-30">Photoshop</h6>
                    <div class="mil-line-progress mil-up">
                      <div class="mil-bar" data-value="70%"></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="mil-lang-skills-item mil-mb-30">
                    <h6 class="mil-up mil-mb-30">Html</h6>
                    <div class="mil-line-progress mil-up">
                      <div class="mil-bar" data-value="40%"></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="mil-lang-skills-item mil-mb-30">
                    <h6 class="mil-up mil-mb-30">Css</h6>
                    <div class="mil-line-progress mil-up">
                      <div class="mil-bar" data-value="40%"></div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- hard skills end -->

            <div class="mil-section-title mil-up">
              <div class="mil-divider"></div>
              <h3>Reviews</h3>
            </div>

            <!-- revievs -->
            <section class="mil-p-90-90">
              <div class="row justify-content-center mil-reviews-slider-frame">
                <div class="col-lg-8">
                  <div class="swiper-container mil-reviews-slider mil-mb-30">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div
                          class="mil-review mil-center"
                          data-swiper-parallax-opacity="0"
                          data-swiper-parallax="-90"
                          data-swiper-parallax-scale=".8"
                        >
                          <div class="mil-review-top">
                            <img
                              src="{% static 'img/customers/1.jpg' %}"
                              alt="customer"
                              class="mil-avatar mil-up"
                            />
                            <div class="mil-name">
                              <h4 class="mil-up mil-mb-5">Paul Trueman</h4>
                              <p class="mil-upper mil-up">Eqanta app</p>
                            </div>
                          </div>
                          <p class="mil-up">
                            Working with Courtney Davis as our UI designer was
                            an absolute pleasure. Her attention to detail and
                            creative approach brought our vision to life. The
                            user interface she designed exceeded our
                            expectations, and we received positive feedback from
                            our clients. Highly recommended!
                          </p>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div
                          class="mil-review mil-center"
                          data-swiper-parallax-opacity="0"
                          data-swiper-parallax="-90"
                          data-swiper-parallax-scale=".8"
                        >
                          <div class="mil-review-top">
                            <img
                              src="{% static 'img/customers/2.jpg' %}"
                              alt="customer"
                              class="mil-avatar mil-up"
                            />
                            <div class="mil-name">
                              <h4 class="mil-up mil-mb-5">Olivia Oldman</h4>
                              <p class="mil-upper mil-up">Eqanta app</p>
                            </div>
                          </div>
                          <p class="mil-up">
                            I had the opportunity to collaborate with Courtney,
                            and I must say she is incredibly talented. Her
                            ability to understand our brand and translate it
                            into a interface was impressive. Courtney's designs
                            were intuitive, and enhanced the overall user
                            experience. I look forward to working with her
                            again!
                          </p>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div
                          class="mil-review mil-center"
                          data-swiper-parallax-opacity="0"
                          data-swiper-parallax="-90"
                          data-swiper-parallax-scale=".8"
                        >
                          <div class="mil-review-top">
                            <img
                              src="{% static 'img/customers/3.jpg' %}"
                              alt="customer"
                              class="mil-avatar mil-up"
                            />
                            <div class="mil-name">
                              <h4 class="mil-up mil-mb-5">Oscar Newman</h4>
                              <p class="mil-upper mil-up">Eqanta app</p>
                            </div>
                          </div>
                          <p class="mil-up">
                            Courtney Davis is an exceptional UI designer. She
                            has a keen eye for aesthetics and understands how to
                            create interfaces. Courtney's designs greatly
                            improved the usability of our application, and we
                            couldn't be happier with the results. Highly skilled
                            and reliable!
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="mil-slider-nav mil-up">
                  <div class="mil-reviews-prev">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-arrow-right"
                    >
                      <line x1="5" y1="12" x2="19" y2="12"></line>
                      <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                  </div>
                  <div class="mil-reviews-next">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-arrow-right"
                    >
                      <line x1="5" y1="12" x2="19" y2="12"></line>
                      <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                  </div>
                </div>

                <div class="swiper-reviews-pagination mil-up"></div>
              </div>
            </section>
            <!-- revievs end -->

            <div class="mil-section-title mil-up">
              <div class="mil-divider"></div>
              <h3>Latest from blog</h3>
            </div>

            <!-- blog -->
            <section class="mil-p-90-30">
              <div class="row justify-content-between align-items-center">
                <div class="col-lg-6">
                  <a href="publication-1.html" class="mil-blog-card mil-mb-60">
                    <div class="mil-cover mil-up">
                      <img src="{% static 'img/blog/1.jpg' %}" alt="cover" />
                      <div class="mil-link mil-icon-link">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="feather feather-arrow-right"
                        >
                          <line x1="5" y1="12" x2="19" y2="12"></line>
                          <polyline points="12 5 19 12 12 19"></polyline>
                        </svg>
                      </div>
                    </div>
                    <div class="mil-descr">
                      <h4 class="mil-up mil-mb-30">
                        How to Become a Graphic Designer in 10 Simple Steps
                      </h4>
                      <p class="mil-up">
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Eius sequi commodi dignissimos.
                      </p>
                    </div>
                  </a>
                </div>
                <div class="col-lg-6">
                  <a href="publication-1.html" class="mil-blog-card mil-mb-60">
                    <div class="mil-cover mil-up">
                      <img src="{% static 'img/blog/2.jpg' %}" alt="cover" />
                      <div class="mil-link mil-icon-link">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="feather feather-arrow-right"
                        >
                          <line x1="5" y1="12" x2="19" y2="12"></line>
                          <polyline points="12 5 19 12 12 19"></polyline>
                        </svg>
                      </div>
                    </div>
                    <div class="mil-descr">
                      <h4 class="mil-up mil-mb-30">
                        16 Best Graphic Design Online and Offline Courses
                      </h4>
                      <p class="mil-up">
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Eius sequi commodi dignissimos.
                      </p>
                    </div>
                  </a>
                </div>
              </div>
            </section>
            <!-- blog end -->

            <div class="mil-divider mil-up mil-mb-90"></div>

            <!-- call to action -->
            <div class="mil-p-0-90">
              <div class="row justify-content-center">
                <div class="col-lg-8">
                  <div class="mil-center">
                    <h2 class="mil-up mil-mb-30">
                      Ready to bring your ideas to life? I'm here to help
                    </h2>
                    <div class="mil-up">
                      <a href="contact.html" class="mil-btn mil-sm-btn"
                        >Contact me</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- call to action end -->

{% endblock %}